.item {
}
.addpost{
    font-size: 30px;
}
.addpost textarea{
    height: 90px;
    width: 100%;
}
.addpost h4{
    color: DarkCyan;
    margin: auto;
}
.addpost button{
    margin-left: 85%;
    border-radius: 40px;
    background-color: PaleTurquoise;
    width: 75px;
    height: 32px;
    font-family: "Comic Sans MS";
    font-weight: bold;
}
.post{
    margin-top: 20px;
}
