.nav {
    background-color: rgb(176, 224, 230);
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
}
.nav div{
    margin-top: 10px;
}
.nav a {
    color: DarkSlateGrey;
    text-decoration: none;
}
.nav a.active{
    color: black;
}