.header {
    grid-area: h;
    background-color: rgb(135, 206, 250);
    margin-left: 10px;
    margin-top: 5px;
  
    min-block-size: 6vh;
    border-radius: 5px;
  }
  .header img {
    width: 70px;
      margin-left: 30px;
  }