.app-gur {
    display: grid;
/*    justify-items: stretch;*/
    margin: 0 auto;
    margin-right: 10px;
    grid-template-areas:
    "h  h"
    "n  c";

    grid-template-rows: 81px 1fr;
    grid-template-columns: 1fr 10fr;
    grid-gap: 10px;
}

.app-gur-content {
    grid-area: c;
    background-color: rgb(240, 255, 255);
    border-radius: 10px;

}



